*.nes
*.nes.yaml
*.nes.cycles.yaml
.DS_Store
Desktop.ini
Thumbs.db
*.deb
*.swp
*.mus
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
